.movie_card_image {
	height: 220px;
	object-fit: cover;
}

.movie_card_body {
	border-radius: 0.75rem;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	background-color: rgb(23 23 23);
}

.movie_card_body:hover {
	transition-duration: 200ms;
	transform: scale(1.02);
}

.movie_card_container {
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	padding-top: 15px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 4px;
}

.movie_card_tag {
	color: rgb(239 68 68);
	font-weight: bold;
	font-size: 13px;
}

.movie_card_title {
	color: white;
	font-weight: 600;
	font-size: 22px;
}

.movie_card_time {
	color: rgb(107 114 128);
	font-weight: 500;
	font-size: 14px;
}

.movie_card_options {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
	margin-right: 20px;
}

.movie_card_options_edit {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 7px;
	background-color: rgb(107 114 128);
	color: white;
	min-width: 70px;
	text-align: center;
}

.movie_card_options_edit:hover {
	color: white;
	font-weight: 600;
	transition-duration: 150ms;
	transform: scale(1.08);
}

.movie_card_options_delete {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 7px;
	background-color: rgb(239 68 68);
	color: white;
	min-width: 85px;
	text-align: center;
	border: 0;
}

.movie_card_options_delete:hover {
	color: white;
	font-weight: 600;
	transition-duration: 150ms;
	transform: scale(1.08);
}
